.search__container{
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
}
.searchBar{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 350px;
    padding: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 7%);
    height: 60px;
}
input[type=text] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: none;
    height: 40px;
  }
  .filter__search {
    width: 250px !important;
    /* background: white !important; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 7%);
  }
  textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}

/* .MuiBox-root css-ece9u5 {
  background: white;
  color: white;
} */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 787px) { 
.search__container {
  display: block;
}
.css-ece9u5 {
  min-width: 120px;
  margin-top: 30px;
}
}
@media (max-width: 414px) { 
  .search__container {
   margin-left: 30px !important;
  }

  }
